@keyframes swing {
    0% {
      transform: translateY(-10%);
    }
    50% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(-10%);
    }
  }

  @keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
  }