// @import "mixins";

@mixin fontStyleOne {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.28px;
}

@mixin fontStyleTwo {  
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.28px;
  color: $primary-color;
}