// @import "mixins";

@mixin fontStyleOne {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.28px;
}

@mixin fontStyleTwo {
  font-family: "Verdana";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.32px;
  color: $primary-color;
}

@mixin fontStyleThree {
  font-family: "Junegull";
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.48px;
}

@mixin titleFontStyleOne {
  font-family: "Junegull";
  font-weight: 400;
  font-size: 36px;
  line-height: 22px;
  letter-spacing: -0.72px;
  color: $secondary-color;
}

@mixin titleFontStyleTwo {
  font-family: "Junegull";
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -0.96px;
  color: $secondary-color;

  @media (max-width: map-get($tablet, lg) - 1) {
    font-size: 36px;
    line-height: 40px;
  }
}
