.features__list {
  display: flex;   
  flex-wrap: wrap; 
  justify-content: center;
}

.features__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 0 20px 0;

  &::before {
    content: "";
    height: 100px;
    margin: 0 0 40px;
  }
   
  &--cake {
    &::before {
      width: 98px;      
      background: url("assets/images/static/decor-cake.png") no-repeat bottom;
    }
  }

  &--cook {
    &::before {
      width: 84px;
      background: url("assets/images/static/decor-cook.png") no-repeat bottom;
    }
  }

  &--drink {
    &::before {
      width: 81px;
      background: url("assets/images/static/decor-drink.png") no-repeat bottom;
    }
  }
}


.features__title {
  @include fontStyleThree;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  color: $primary-color;
  text-align: center;

  &::before,
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    margin: 0 15px 0;
    border-radius: 50%;
    background: $secondary-color;
  }
}

.features__text {
  @include fontStyleTwo;
  text-align: center;
}