.features__list {
  display: flex;   
  flex-wrap: wrap; 
  justify-content: center;
  margin: 0 0 35px;
}

.features__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 0 20px 0;  
}

.features__image-wrapper {
  display: flex;
  align-items: flex-end;
  height: 100px;
  margin: 0 0 35px;
}


.features__title {
  @include fontStyleThree;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  color: $primary-color;
  text-align: center;

  &::before,
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    margin: 0 15px 0;
    border-radius: 50%;
    background: $secondary-color;
  }
}

.features__text {
  @include fontStyleTwo;
  text-align: center;
}

@media (max-width: map-get($tablet, lg)-1) {
  .features__list-item {
    margin: 20px;
  }
}