.info-block {
  box-sizing: border-box;
  position: relative;
  max-width: 700px;
  margin: auto;
  padding: 53px 90px;
  border: 1px solid $accent-color;
  border-radius: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;    
    width: 42px;
    height: 42px;
    margin: auto;
    border: 1px solid $accent-color;
    border-radius: 50%;
  }

  &::before {
    left: -21px;   
  }

  &::after {
    right: -21px;
  }
}

.info-block__text {
  @include fontStyleTwo;
  text-align: center;
}

.info-block__button {
  @include fontStyleTwo;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 4px 20px;
  font-family: "Lato";  
  background: $accent-color;
  border: 0;
  border-radius: 14px;
  z-index: 20;
  
  &:hover {
    opacity: 0.7
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }
}

@media (max-width: map-get($tablet, lg)-1) {
  .info-block {
    margin: 0 22px 20px;
    padding: 40px;
  }
}