.menu-list__toggle {
  @include titleFontStyleOne;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 375px;
  margin: 0 0 10px;
  font-size: 24px;
  border: 0;
  background: inherit;

  &::after {
    content: "";
    width: 14px;
    height: 9px;
    background: url("assets/images/static/arrow-down.png") no-repeat center;
    transform: rotate(180deg);
    transition: all 0.3s ease 0s;
  }

  &:hover {
    opacity: 0.7;
  }
  
  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 0;
  }
}

.menu-list__list {  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 375px;
  padding: 0 70px 0 10px;
  transition: all 0.3s ease 0s;
}

.menu-list__item {
  position: relative;
  margin: 0 0 27px;
}

.menu-list__link {
  font-family: "Junegull";
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.48px;
  color: $primary-color;

  &:hover {
    color: $secondary-color;

    &::after {
      content: "";
      position: absolute;
      top: 11px;
      right: -39px;
      width: 39px;
      height: 5px;
      background: url("assets/images/static/little-wavy-line.png") no-repeat center;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.menu-list__text {
  margin: 8px 0 0 5px;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.24px;
  color: $contact-secondary-color;
}

@media (max-width: map-get($tablet, md) - 1) {
  .menu-list {

    &._active {
      .menu-list__toggle {
        display: flex;
      }
  
      .menu-list__list {
        display: none;
      }
  
      &._open {
        .menu-list__toggle {
          &::after {
            transform: none;
          }
        }

        .menu-list__list {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: map-get($tablet, md) - 1) {
  .menu-list__toggle {
    min-width: 300px;
  }

  .menu-list__list {
    width: 100%;
    min-width: 0;
    padding: 10px 20px;
    text-align: center;
  }
}