.page-header {
   position: relative; 
   display: flex;
   align-items: center; 
   justify-content: center; 
   min-height: 130px;    
}

.page-header__logo {
   position: absolute;
   left: 0;
   right: 0;   
   width: 74px;
   height: 57px;
   margin: auto; 
   z-index: 11;

   &:hover {
      opacity: 0.7;
   }

   &:active {
      opacity: 0.3;
   }
}

.page-header__menu-toggle {
   display: none;

   &:focus {
      outline: none;
   }
}

.page-header__nav {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 160px;
   height: 100%;  
   margin: 0 60px 8px; 
}

.page-header__nav-list {
   display: flex;  
   flex-wrap: wrap;
   justify-content: flex-end;  
   transition: all 0.3s ease 0s;
   
   &--right-list {
      justify-content: flex-start;
   }
}

.page-header__nav-item {
   margin: 10px 20px;
}

.page-header__nav-list-link {
   @include fontStyleOne;
   box-sizing: border-box;
   display: block;
   padding: 4px 8px;
   color: $primary-color;
   white-space: nowrap;

   &:hover {
      padding: 4px 8px 0;
      border-bottom: 4px solid $accent-color;
   }

   &:active {
      opacity: 0.5;
   }
}

.page-header__social {
   position: absolute;
   top: 55px;
   right: 50px;  
   display: flex;  
}

.page-header__social-item {
   margin: 0 4px 0;
}

.page-header__social-link {
   &:hover {
      opacity: 0.7;
   }

   &:active {
      opacity: 0.3;
   }
}

@media (max-width: map-get($tablet, lg) - 1) {
   .page-header__logo {
      top: 35px;
      left: 50px;
      margin: auto 0; 
   }

   .page-header__nav {
      column-gap: 20px;     
      margin: 20px 125px;
   }
}

@media (max-width: map-get($tablet, md) - 1) {
   .page-header__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 100px 15px 20px;
   }

   .page-header__nav-list {
      flex-direction: column;
      align-items: center; 
   }

   .page-header__menu._active {

      .page-header__nav {
         display: none;
      }

      .page-header__social {
         display: none;
      }     
      
      .page-header__menu-toggle {
         position: absolute;
         top: 55px;
         right: 50px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 30px;
         height: 18px;
         padding: 0;
         background: inherit;
         border: 0;


         &::before,
         span,
         &::after {            
            background: $secondary-color;
            width: 100%;
            height: 2px;
            transition: all 0.3s ease 0s;
         }

         &::before,
         &::after {
            content: "";
         }
      }

      .page-header__menu-wrapper {
         position: absolute;
         top: 50px;
      }

      &._open {
         .page-header__menu-toggle {            

            span {
               transform: scale(0) translate(0px, -50%);
             }
       
             &::before {
               position: absolute;
               top: 50%;
               transform: rotate(-45deg) translate(0px, -50%);
             }
       
             &::after {
               position: absolute;
               bottom: 50%;
               transform: rotate(45deg) translate(0px, 50%);
             }
         }

         .page-header__menu-wrapper {
            top: 100px;
            left: 0;
            width: 100%;
            height: auto;
            padding: 0 0 60px;
            z-index: 10;
            background-color: $additional-color;
            transition: all 0.3s ease 0s;

            &::before {
               content: "";
               position: absolute;
               bottom: -10px;
               display: flex;
               width: 100%;
               height: 22px;
               background: url("assets/images/static/wavy-line.png") no-repeat center;
            }
         }

         .page-header__nav { 
            display: flex;
            margin: 0;
         }

         .page-header__social {
            display: flex;
            justify-content: center;
            bottom: 20px;
            top: initial;
            left: 0; 
            right: 0;          
         }         
      }
   }
}