.product__main {
  width: 1170px;
  margin: auto;
  padding: 50px 10px 60px;
}

.product__title {
  @include titleFontStyleTwo;
  margin: 0 20px 12px;
  text-align: center;
}

.product__bread-crumbs {
  margin: 0 0 17px;
}

.product__go-back-link {
  margin: 0 0 5px;
}


.product__wrapper {
  display: flex;
  justify-content: space-between;  
}

.product__current-product {
  margin: 0 0 53px;
}

.product__inner-wrapper {
  max-width: 780px;
}

.product_subtitle {
  margin: 0 15px 15px;
  font-family: "Junegull";
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.48px;
  color: $primary-color;
}

.product__recomended-list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: map-get($laptop, sm) - 1) {
  .product__main {
    box-sizing: border-box;
    width: 100%;
  }

  .product__inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product__recomended-list {
    justify-content: space-evenly;
  }
}

@media (max-width: map-get($tablet, lg) - 1) {
  .product__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: map-get($tablet, md) - 1) {
  .product__title {
    margin: 0 10px 12px;
  }

  .menu__wrapper {
    flex-direction: column;
  }

  .product_subtitle {
    text-align: center;
  }  
}