.cakes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 54px 0 92px;

  &._loading {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 33px;
      height: 49px;
      margin: auto;
      background: url("assets/images/static/loading.png") no-repeat center;
    }
  }
}

.cakes-list__item {
  position: relative;
  max-width: 360px;
  margin: 0 10px 27px;
  border: 1px solid $additional-color-four;  
  transition: all 2s ease 0s;
  

  &::before {
    @include fontStyleTwo;
    content: "Заказать";
    position: absolute;
    top: 225px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: all 2s ease 0s;
  }

  &--hit {
    .cakes-list__info-block {
      &::after {
        @include fontStyleOne;
        content: "хит";
        position: absolute;
        top: 18px;
        right: 21px;
        letter-spacing: -0.32px;
        text-transform: uppercase;
        color: $contact-secondary-color;
        transition: all 2s ease 0s;
      }
    }
  } 
  
  &:hover { 
    border: 1px solid $card-hover-color;   
    &::before {      
      opacity: 1;
      z-index: 20;
    }

    .cakes-list__image-wrapper {
      position: relative;      

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($card-hover-color, 0.68);        
      }
    }

    .cakes-list__cake-name,
    .cakes-list__cake-info,
    .cakes-list__weight,
    .cakes-list__price {
      color: $card-hover-color;
    }

    .cakes-list__info-block {
      &::before {
        background: url("assets/images/static/line-hover.png") no-repeat center;
      }

      &::after {
        color: $card-hover-color;
      }
    }
  }
}

.cakes-list__image-wrapper {
  &::before {
    content: "";
    transition: all 2s ease 0s;
  }
  
}

.cakes-list__control {
  display: none;
}

.cakes-list__info-block {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 210px;
  padding: 19px 20px;
  border-top: 1px solid $additional-color-four;  

  &::before {
    content: "";
    position: absolute;
    bottom: 57px;
    left: 0;
    right: 0;
    width: 320px;
    height: 5px;
    margin: auto;
    background: url("assets/images/static/little-wavy-line-yellow.png") no-repeat center;
    transition: all 2s ease 0s;
  }
}

.cakes-list__cake-name {
  @include fontStyleOne;
  margin: 0 0 11px;
  font-size: 19px;
  color: $primary-color;
  letter-spacing: -0.32px;
  transition: all 2s ease 0s;
}

.cakes-list__cake-info {
  @include fontStyleOne;
  line-height: 20px;
  opacity: 0.6;
  transition: all 2s ease 0s;
}

.cakes-list__price-info {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.cakes-list__weight,
.cakes-list__price {
  margin: 0 10px;
  font-family: "Lato";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.36px;
  color: $primary-color;  
  transition: all 2s ease 0s;
}

@media (max-width: map-get($tablet, lg) - 1) {
  .cakes-list {
    justify-content: center;
  }

  .cakes-list__image-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }

  .cakes-list__info-block {
    &::before {
      width: 280px;
    }
  }
}; 