$primary-color: #26547c;
$accent-color: #ffd166;
$secondary-color: #06d6a0;
$social-icon-color: #3dc9aa;
$contact-primary-color: #455a64;
$contact-secondary-color: #ef476f;
$additional-color: #ffffff;