.bread-crumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;

  span {
    @include fontStyleOne;
    padding: 0 3px;
    font-size: 13px;
    letter-spacing: -0.22px;
  }

}
