.go-back-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 12px 0 0;  
  font-family: "Lato";
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.28px;
  color: rgba($primary-color, 0.5);
  text-align: right;

  &::before {
    content: "";
    width: 22px;
    height: 13px;
    margin: 0 10px 0 0;
    background: url("assets/images/static/arrow-left.png") no-repeat center;
  }
  
  &:hover {
    opacity: 0.7;
  }
  
  &:active {
    opacity: 0.3;
  }
}